<!-- <main id="app-container"> -->
        
    <!-- 内容区域顶部的控制 start -->
    <!-- <div class="film-controls">
        <div class="film-controls__city">北京</div>
        <div class="film-controls__types">
            <div class="film-controls__type-item active">正在热映</div>
            <div class="film-controls__type-item">即将上映</div>
        </div>
        <div class="film-controls__search"><i class="icon icon-wode-copy"></i></div>
    </div> -->
    <!-- 内容区域顶部的控制 end -->
    
    <!-- 内容影片列表 start -->
    <!-- <div class="film-list">
        {{#each films}}
        <div class="film-list__item">
            <div class="film-list__item-img">
                <img width="100%" height="100%" src="https://p1.meituan.net/128.180/movie/616cd50a33550a9225ac781e52d14ae54967551.jpg" alt="">
            </div>
            <div class="film-list__item-info">
                <div class="film-list__item-title">
                    <h1>{{nm}}</h1>
                    <span class="film-list__item-desc-img max"></span>
                </div>
                <div class="film-list__item-grade">观众评 <span>8.8</span></div>
                <div class="film-list__item-actor">主演: 罗莎·萨拉查,克里斯托弗·沃尔兹,基恩·约翰逊</div>
                <div class="film-list__item-count">今天<span>222</span>家影院放映<span>222</span>场</div>
            </div>
            <div class="film-list__item-btn">
               <button class="film-list__btn film-list__btn--buy active">购票</button> 
               <button class="film-list__btn film-list__btn--pre">预售</button> 
            </div>
        </div>
        {{/each}}

    </div> -->
    <!-- 内容影片列表 end -->
<!-- </main> -->
<main id="app-container">
        <section class="swiper-container">
                <div class="swiper-wrapper">
                    {{#each banners}}
                    <div class="swiper-slide">
                        <a href="https://www.duitang.com/album/?id=81841135">
                            <img src="{{image}}" alt="">
                            <span class="backend">
                            </span><span class="desc">
                                <span class="time">{{timestamp}}</span>
                                <span class="h1">{{title}}</span>
                            </span>
                        </a>
                        </div>
                    {{/each}}
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
        </section>
        <section class="app-category-list">
            <div class="row">
                <a href="https://m.duitang.com/blog/list/category/?id=5017d172705cbe10c0000003&title=%E8%89%AF%E5%93%81%E8%B4%AD">
                    <span class="i lag"></span>
                    <br>
                    <span class="tex">良品购</span>
                </a>
                <a href="#/shopping">
                        <span class="i lbg"></span>
                        <br>
                        <span class="tex">商品</span>
                </a>
                <a href="https://m.duitang.com/blog/list/category/?id=5017d172705cbe10c0000007&title=%E7%BE%8E%E9%A3%9F%E8%8F%9C%E8%B0%B1">
                        <span class="i lcg"></span>
                        <br>
                        <span class="tex">美食菜谱</span>
                </a>
                <a href="https://m.duitang.com/blog/list/category/?id=5017d172705cbe10c0000004&title=%E5%AE%B6%E5%B1%85%E7%94%9F%E6%B4%BB">
                        <span class="i ldg"></span>
                        <br>
                        <span class="tex">家居生活</span>
                </a>
            </div>
            <div class="row">
                    <a href="https://m.duitang.com/blog/list/category/?id=5017d172705cbe10c0000008&title=%E5%A3%81%E7%BA%B8">
                        <span class="i lag"></span>
                        <br>
                        <span class="tex">壁纸</span>
                    </a>
                    <a href="https://m.duitang.com/blog/list/category/?id=540ea7ed586df58a31a135d2&title=%E5%A4%B4%E5%83%8F">
                            <span class="i lbg"></span>
                            <br>
                            <span class="tex">头像</span>
                    </a>
                    <a href="https://m.duitang.com/blog/list/category/?id=540ead31586df58a2bef4d7a&title=%E8%A1%A8%E6%83%85">
                            <span class="i lcg"></span>
                            <br>
                            <span class="tex">表情</span>
                    </a>
                    <a href="https://m.duitang.com/category/">
                            <span class="i ldg"></span>
                            <br>
                            <span class="tex">更多分类</span>
                    </a>
                </div>
        </section>
</main>