
<main id="app-container">
        <section class="swiper-container">
                <div class="swiper-wrapper">
                    {{#each banners}}
                    <div class="swiper-slide">
                        <a href="https://www.duitang.com/album/?id=81841135">
                            <img src="{{image}}" alt="">
                            <span class="backend">
                            </span><span class="desc">
                                <span class="time">{{timestamp}}</span>
                                <span class="h1">{{title}}</span>
                            </span>
                        </a>
                        </div>
                    {{/each}}
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
        </section>
        <section class="app-category-list">
            <div class="row">
                <a href="#/blog/list/category/?id=5017d172705cbe10c0000003&title=良品购">
                    <span class="i lag"></span>
                    <br>
                    <span class="tex">良品购</span>
                </a>
                <a href="#haoja/multi">
                        <span class="i lbg"></span>
                        <br>
                        <span class="tex">商品</span>
                </a>
                <a href="#/blog/list/category/?id=5017d172705cbe10c0000007&title=美食菜谱">
                        <span class="i lcg"></span>
                        <br>
                        <span class="tex">美食菜谱</span>
                </a>
                <a href="#/blog/list/category/?id=5017d172705cbe10c0000004&title=家居生活">
                        <span class="i ldg"></span>
                        <br>
                        <span class="tex">家居生活</span>
                </a>
            </div>
            <div class="row">
                    <a href="#/blog/list/category/?id=5017d172705cbe10c0000008&title=壁纸">
                        <span class="i lag"></span>
                        <br>
                        <span class="tex">壁纸</span>
                    </a>
                    <a href="#/blog/list/category/?id=540ea7ed586df58a31a135d2&title=头像">
                            <span class="i lbg"></span>
                            <br>
                            <span class="tex">头像</span>
                    </a>
                    <a href="#/blog/list/category/?id=540ead31586df58a2bef4d7a&title=表情">
                            <span class="i lcg"></span>
                            <br>
                            <span class="tex">表情</span>
                    </a>
                    <a href="https://m.duitang.com/category/">
                            <span class="i ldg"></span>
                            <br>
                            <span class="tex">更多分类</span>
                    </a>
                </div>
        </section>
        <section class="controlflow" id="waterFall">
        
        </section>
</main>