<main id="app-container">
    <section class="conten">
        <!-- 详情页title -->
        <div>
            <section class="conten-list__title">
                <div class="conten-list__title--bg"></div>
                <div class="conten-list__title__category">
                    {{#each sub_cates}}
                        <a href="#/blog/list/category/?id={{id}}path={{path}}">#{{name}}</a>
                    {{/each}}
                </div>
            </section>
        </div>
    </section>
    <section class="controlflow">
        <div class="controlflow-swb">
            <div class="controlflow-swb__controlflow"></div>
            <ul class="controlflow-pcont controlflow-masned stpics">
                <li>
                    <div class="woo">
                        <div class="woo-blog">
                            <a href="" class="woo-blog__a">
                                <img src="https://b-ssl.duitang.com/uploads/item/201712/16/20171216030037_mzkGZ.thumb.300_0.jpeg" alt="">
                                <h1>p1nka 定制款 晚安陪睡兔子送女友温馨装饰玩偶性冷淡小兔子</h1>
                                <p class="info">
                                    <span class="count">★&nbsp;2070</span>  
                                    <span class="type"></span>
                                    <span class="hr"></span>
                                </p>
                            </a>
                            <p class="album">
                                <a href="/people/?user_id=18171244" class="avatar" style="background-image:url(https://b-ssl.duitang.com/uploads/people/201808/17/20180817124225_dFyCE.thumb.100_100_c.jpeg);"></a>
                                <span class="sender">
                                    <a href="/people/?user_id=18171244" class="name">冷漠ECdd</a>
                                    <br>
                                    <a href="/album/?id=90338323" class="album-name">收集到&nbsp;默认专辑</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="woo">
                        <div class="woo-blog">
                            <a href="" class="woo-blog__a">
                                <img src="https://b-ssl.duitang.com/uploads/item/201712/16/20171216030037_mzkGZ.thumb.300_0.jpeg" alt="">
                                <h1>kumayes 学院风条纹POLO领拼接针织假两件套头衬衣春装学生衬衫女</h1>
                                <p class="info">
                                    <span class="count">★&nbsp;2070</span>  
                                    <span class="type"></span>
                                    <span class="hr"></span>
                                </p>
                            </a>
                            <p class="album">
                                <a href="/people/?user_id=18171244" class="avatar" style="background-image:url(https://b-ssl.duitang.com/uploads/people/201808/17/20180817124225_dFyCE.thumb.100_100_c.jpeg);"></a>
                                <span class="sender">
                                    <a href="/people/?user_id=18171244" class="name">无名的少女心</a>
                                    <br>
                                    <a href="/album/?id=90338323" class="album-name">收集到&nbsp;默认专辑</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>