<main id="app-container">
    <section class="conten">
        <!-- 详情页title -->
        <div>
            <section class="conten-list__title">
                <div class="conten-list__title--bg"></div>
                <div class="conten-list__title__category">
                    {{#each sub_cates}}
                        <a href="#/blog/list/category/?id={{id}}path={{path}}">#{{name}}</a>
                    {{/each}}
                </div>
            </section>
        </div>
    </section>
    <section class="controlflow" id="waterFall">
        
    </section>
</main>