
#app-container {
    .film-controls {
        flex-shrink: 0;
    }
    .film-list {
        flex-grow: 1; flex-shrink: 1;
        width: 100%;
        overflow: auto;
    }

}


/* 内容顶部控制区域 */

.conten-list__title{
    position: relative;
    padding: .48rem .32rem .16rem .64rem;
    background-size: cover;
    text-align: center;
}

.conten-list__title--bg{
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .35;
}
.conten-list__title__category{
    z-index: 1;
    position: relative;
    font-size: 0;
}
.conten-list__title__category a{
    margin: 0 .32rem .32rem 0;
    padding: 0 9px;
    border: 1px solid #fff;
    border-radius: .106667rem;
    font-size: .373333rem;
    line-height: .906667rem;
    display: inline-block;
    color: #fff;
}
.controlflow-masned {
    zoom: 1;
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
}
.controlflow-pcont {
    height: 0;
}
.stpics{
    position: relative;
    width: 9.5rem;
    visibility: visible;
}
.controlflow-masned li{
    list-style: none;
    float: left;
}
.controlflow-masned li:nth-of-type(even){
    margin-left:.3rem; 
}
.woo{
    width: 4.6rem;
    margin-bottom: .266667rem; 
}

.woo-blog {
    width: 4.6rem;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-bottom-width: 2px;
    font-size: .32rem;
    word-break: break-all;
}

.woo-blog a{
    display: inline-block;
}

.woo-blog__a img{
    width: 4.54rem;
    display: block;
    font-size: 0;
}
.woo-blog__a h1 {
    padding: .213333rem .213333rem .133333rem;
    color: #333;
    font-size: .32rem;
    font-weight: 500;
}
.woo-blog .info {
    position: relative;
    padding: 0 .213333rem .133333rem;
}
.woo-blog .info .count {
    color: #999;
}
.woo-blog .info .hr {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-image: -webkit-linear-gradient(top,transparent 50%,rgba(0,0,0,.12) 100%);
    background-image: -o-linear-gradient(top,transparent 50%,rgba(0,0,0,.12) 100%);
    background-image: linear-gradient(to bottom,transparent 50%,rgba(0,0,0,.12) 100%);
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: bottom;
}
.woo-blog .album {
    position: relative;
    padding: .213333rem .16rem .213333rem 1.226667rem;
    line-height: .8rem;
}
.woo-blog .album .avatar {
    overflow: hidden;
    position: absolute;
    top: .213333rem;
    left: .213333rem;
    width: .8rem;
    height: .8rem;
    background: url(https://b-ssl.duitang.com/uploads/files/201409/09/20140909171211_LMUT8.thumb.224_224_c.jpeg);
    background-size: 100% auto;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.woo-blog .album .sender {
    display: inline-block;
    line-height: 1.5;
}
.woo-blog .album .sender .name {
    color: #3498db;
}
.woo-blog .album .sender .album-name {
    color: #333;
}